body {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  padding-top: 20px;
  margin-bottom: 30px;
  h1 {
    font-family: monospace;
  }
}

img {
  height: 100px;
  padding-bottom: 10px;
}

table {
  width: 100%;
  th {
    padding: 10px;
  }
  td {
    padding: 5px;
  }
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}
table#t01 th {
  color: white;
  background-color: black;
}
