$teal : #23B5AF;
$darkTeal : #0A6865;
$gray : #eee;

body {
  font-family: 'Open Sans', sans-serif;
  p {
    margin: 0px;
  }
  background-color: $gray;
}

.jumbotron {
  background-color: white;
  padding-top: 20px;
  margin-bottom: 30px;
  h1 {
    font-family: monospace;
  }
}

#find-btn {
  color: white;
  background-color: $teal;
}

#find-btn:hover {
  color: white;
  background-color: $darkTeal;
}

#username {
  width: 30%;
}

img {
  height: 100px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.username-results {
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  width: 100%;
  th {
    padding: 10px;
  }
  td {
    padding: 5px;
  }
}

table#t01 tr:nth-child(even) {
  background-color: $gray;
}
table#t01 tr:nth-child(odd) {
  background-color: white;
}
table#t01 th {
  color: white;
  background-color: $darkTeal;
}

a {
  color: $teal;
}
a:hover {
  color: $darkTeal;
}
